{$APP_DOMAIN} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:3001
	}

	handle {
		reverse_proxy admin:80
	}

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}
